:root {
  --neutral: #fafafa;
  --zinc: #18181b;
  --light-grey: #e7e5e4;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral);
  color: var(--zinc);
  font-family: 'Source Sans Pro', sans-serif;
}

.title {
  text-align: center;
  padding: 20px;
  font-size: 40px;
  font-weight: bold;
}

label,
input {
  display: flex;
  flex-direction: column;
}

label {
  padding-bottom: 5px;
}

input {
  border-radius: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.cv-container {
  width: 95vw;
  height: 88vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--zinc);
  border-radius: 5px 0px 0px 5px;
  margin: 0px;
}

.left-container {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  background-color: var(--light-grey);
  height: 100%;
  gap: 20px;
  border-radius: 5px;
}

.right-container {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sub-titles {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: solid 1px var(--zinc);
}
